
.icon-change:before { content: '\e85d'; } /* '' */
.icon-cancel:before { content: '\e870'; } /* '' */
.icon-file:before { content: '\e888'; } /* '' */
.icon-upload:before { content: '\e88f'; } /* '' */
.icon-download:before { content: '\e890'; } /* '' */
.icon-link:before { content: '\e891'; } /* '' */
.icon-add:before { content: '\e8b6'; } /* '' */
.icon-remove:before { content: '\e8b9'; } /* '' */
.icon-question:before { content: '\e8bc'; } /* '' */
.icon-attach:before { content: '\e8c3'; } /* '' */
.icon-open:before { content: '\e8d5'; } /* '' */
.icon-down:before { content: '\e913'; } /* '' */
.icon-left:before { content: '\e914'; } /* '' */
.icon-right:before { content: '\e915'; } /* '' */
.icon-up:before { content: '\e916'; } /* '' */
.icon-search:before { content: '\e98e'; } /* '' */
.icon-new:before { content: '\ead0'; } /* '' */
.icon-save:before { content: '\ebf2'; } /* '' */
.icon-edit:before { content: '\ebfc'; } /* '' */
.icon-delete:before { content: '\ec0a'; } /* '' */
.icon-folder:before { content: '\ec12'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-attention:before { content: '\f12a'; } /* '' */