<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
       <setting name="defaultExecutorType" value="SIMPLE" />
       <setting name="cacheEnabled" value="true" />
       <setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
		<typeAlias alias="valueMap" type="net.oopscraft.application.core.ValueMap"/>
    </typeAliases>
	<plugins>
		<plugin interceptor="net.oopscraft.application.core.PageableInterceptor"/>
	</plugins>
    <environments default="oltp">
        <environment id="oltp">
              <transactionManager type="JDBC"/>
              <dataSource type="net.oopscraft.application.core.DbcpDataSourceFactory">
                <property name="driverClassName" value="${application.dataSource.oltp.driver}" />
                 <property name="url" value="${application.dataSource.oltp.url}" />
                 <property name="username" value="${application.dataSource.oltp.username}" />
                 <property name="password" value="${application.dataSource.oltp.password}" />
                 <property name="initialSize" value="${application.dataSource.oltp.initialSize}"/>
                 <property name="maxActive" value="${application.dataSource.oltp.maxActive}" />
                 <property name="testOnBorrow" value="true"/>
                 <property name="validationQuery" value="${application.dataSource.oltp.validationQuery}"/>
              </dataSource>
        </environment>
        <environment id="olap">
              <transactionManager type="JDBC"/>
              <dataSource type="net.oopscraft.application.core.DbcpDataSourceFactory">
                <property name="driverClassName" value="${application.dataSource.olap.driver}" />
                 <property name="url" value="${application.dataSource.olap.url}" />
                 <property name="username" value="${application.dataSource.olap.username}" />
                 <property name="password" value="${application.dataSource.olap.password}" />
                 <property name="initialSize" value="${application.dataSource.olap.initialSize}"/>
                 <property name="maxActive" value="${application.dataSource.olap.maxActive}" />
                 <property name="testOnBorrow" value="true"/>
                 <property name="validationQuery" value="${application.dataSource.olap.validationQuery}"/>
              </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="net.oopscraft.application.core.DatabaseIdProvider">
		<property name="databaseId" value="${application.databaseId}"/>
	</databaseIdProvider>
	<mappers>
		<mapper resource="net/oopscraft/application/user/UserDao.xml"/>
    </mappers>
</configuration>
