
.icon-list:before { content: '\e800'; } /* '' */
.icon-up:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e804'; } /* '' */
.icon-file-o:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-bbs:before { content: '\e808'; } /* '' */
.icon-disk:before { content: '\e809'; } /* '' */
.icon-message:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */
.icon-template:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-folder:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */
.icon-globe:before { content: '\e810'; } /* '' */
.icon-config:before { content: '\e811'; } /* '' */
.icon-card:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-folder-open:before { content: '\e815'; } /* '' */
.icon-left:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-monitor:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-right:before { content: '\e81a'; } /* '' */
.icon-barcode:before { content: '\e81b'; } /* '' */
.icon-upload:before { content: '\e81c'; } /* '' */
.icon-tree:before { content: '\e81d'; } /* '' */
.icon-level-down:before { content: '\e81e'; } /* '' */
.icon-change:before { content: '\e81f'; } /* '' */
.icon-alert:before { content: '\e820'; } /* '' */
.icon-level-up:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e823'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-content:before { content: '\f0f6'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-attention:before { content: '\f12a'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-level-up-1:before { content: '\f148'; } /* '' */
.icon-level-down-1:before { content: '\f149'; } /* '' */
.icon-file:before { content: '\f15b'; } /* '' */
.icon-property:before { content: '\f288'; } /* '' */