<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.oopscraft.application.user.mapper.UserMapper">

    <resultMap id="user" type="net.oopscraft.application.user.User">
        <result column="USER_ID" property="id"/>
        <result column="USER_NAME" property="name"/>
    </resultMap>

	<select id="selectUserList" resultMap="user">
		<![CDATA[
		SELECT 	 USER_ID
				,USER_NAME
		FROM 	APP_USER_INFO
		WHERE 	1 = 1
		]]>
		<if test="user.id != null and user.id != ''">
		<![CDATA[
		AND 	user_id LIKE CONCAT(#{user.id},'%')
		]]>
		</if>
		<if test="user.name != null and user.name != ''">
		<![CDATA[
		AND 	user_name LIKE #{user.name}||'%'
		]]>
		</if>
	</select>
	
	<insert id="insertUser">
		<![CDATA[
		INSERT INTO APP_USER_INFO (
				 USER_ID
				,USER_NAME
		) VALUES (
				 #{user.id}
				,#{user.name}
		)
		]]>
	</insert>
	
</mapper>
