<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/websocket 
        http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
        ">
        
    <!-- defines PBE configuration -->
    <bean id="environmentStringPBEConfig" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
        <property name="algorithm" value="PBEWithMD5AndDES" />
        <property name="passwordEnvName" value="APP_ENCRYPTION_PASSWORD" />
    </bean>
    <bean id="standardPBEStringEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
        <property name="config" ref="environmentStringPBEConfig" />
        <property name="password" value="jasyptPass" />
    </bean>
    <bean id="propertyPlaceholderConfigurer" class="org.jasypt.spring3.properties.EncryptablePropertyPlaceholderConfigurer">
        <constructor-arg ref="standardPBEStringEncryptor" />
        <property name="locations">
            <list>
                <value>file:conf/application.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- defines spring properties -->
    <util:properties id="properties" location="file:conf/application.properties" />
    
    <!-- AnnotationMethodHandlerAdapter -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="cacheSeconds" value="0" />
    </bean>
    <mvc:default-servlet-handler default-servlet-name="default"/>
    <mvc:default-servlet-handler/>
    <mvc:annotation-driven/>
    
    <!-- Scans components -->
	<context:component-scan base-package="net.oopscraft.application" name-generator="net.oopscraft.application.core.FullBeanNameGenerator"/>
    
    <!-- definition of data source
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${dataSource.oltp.driver}" />
        <property name="url" value="${dataSource.oltp.url}" />
        <property name="username" value="${dataSource.oltp.username}" />
        <property name="password" value="${dataSource.oltp.password}" />
        <property name="initialSize" value="${dataSource.oltp.initialSize}"/>
        <property name="maxActive" value="${dataSource.oltp.maxActive}" />
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="${dataSource.oltp.validationQuery}"/>
    </bean> 
    -->
    <!--  In Case of Using Application DataSource -->
    <bean id="dataSource" class="net.oopscraft.application.core.DataSourceProxy">
    	<property name="id" value="application"/>
    	<property name="environment" value="oltp"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="/WEB-INF/conf/mybatis-spring.xml" />
        <property name="mapperLocations" value="classpath:net/oopscraft/application/**/dao/${dataSource.dbType}/*Dao.xml" />
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage">
            <value>net.oopscraft.application</value>
        </property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="DataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>
    
	<!-- Multipart Resolver -->    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
   
    <!-- Tiles configuration -->
	<beans:bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<beans:property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<beans:property name="order" value="1"/>
	</beans:bean>
   	<beans:bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <beans:property name="definitions">
            <beans:list>
				<beans:value>/WEB-INF/conf/tiles.xml</beans:value>
            </beans:list>
        </beans:property>
   	</beans:bean>
   	
   	<!-- JSTL View Resolver -->
	<bean id="jstlViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/jsp/"/>
	    <property name="suffix" value=""/>
	</bean>

	<!-- web socket -->	
	<websocket:handlers>
		<websocket:mapping path="admin/webSocket.ws" handler="adminWebSocketHandler"/>
	</websocket:handlers>
	<beans:bean id="adminWebSocketHandler" class="net.oopscraft.application.admin.AdminWebSocketHandler"/>
	
	<!-- spring security -->
	<context:component-scan base-package="net.lotte.chamomile.commons.user" name-generator="net.lotte.chamomile.batch.core.FullBeanNameGenerator"/>
	<bean id="userAuthenticationProvider" class="net.lotte.chamomile.commons.user.UserAuthenticationProvider"/>
	<bean id="userAuthorizationFilter" class="net.lotte.chamomile.commons.user.UserAuthorizationFilter"/>
	<security:http use-expressions="true">
		<security:intercept-url pattern="/user/sign" access="permitAll" />
		<security:form-login login-page="/user/sign" login-processing-url="/user/sign" username-parameter="id" password-parameter="password" default-target-url="/"/>
		<security:logout invalidate-session="true" logout-url="/user/sign/out" logout-success-url="/" />
		<security:custom-filter ref="userAuthorizationFilter" after="SWITCH_USER_FILTER"  />
	</security:http> 
	<security:authentication-manager>
		<security:authentication-provider ref="userAuthenticationProvider" />
	</security:authentication-manager>

</beans>
