<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/websocket 
        http://www.springframework.org/schema/websocket/spring-websocket.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        ">
        
	<!-- ====================================================== -->
	<!-- Application instance definition						-->
	<!-- ====================================================== -->
	<bean id="application" class="net.oopscraft.application.ApplicationContainer" factory-method="getApplication"/>
	
	<!-- ====================================================== -->
	<!-- Defines BeanNameGenerator								-->
	<!-- ====================================================== -->
	<bean id="beanNameGenerator" class="net.oopscraft.application.core.spring.FullBeanNameGenerator"/>
    
	<!-- ====================================================== -->
	<!-- DataSource Definition									-->
	<!-- ====================================================== -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		factory-bean="application" 
		factory-method="getDataSource"
		destroy-method="close">
		<constructor-arg index="0" value="dataSource"/>
	</bean>
	<!-- 
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${dataSource.oltp.driver}" />
        <property name="url" value="${dataSource.oltp.url}" />
        <property name="username" value="${dataSource.oltp.username}" />
        <property name="password" value="${dataSource.oltp.password}" />
        <property name="defaultAutoCommit" value="false"/>
        <property name="initialSize" value="${dataSource.oltp.initialSize}"/>
        <property name="maxActive" value="${dataSource.oltp.maxActive}" />
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="${dataSource.oltp.validationQuery}"/>
    </bean> 
    -->
    
	<!-- ====================================================== -->
	<!-- Integration with JAP and Hibernate						-->
	<!-- ====================================================== -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" 
		factory-bean="application" 
		factory-method="getEntityManagerFactory">
		<constructor-arg index="0" value="entityManagerFactory"/>
	</bean>
	<!-- 
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
			</bean>
        </property>
        <property name="packagesToScan" value="net.oopscraft.application"/>
    </bean>
	-->
	<bean id="jpaTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
	<jpa:repositories base-package="net.oopscraft.application" 
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="jpaTransactionManager"/>
	<tx:annotation-driven transaction-manager="jpaTransactionManager"/>
	 
	<!-- ====================================================== -->
	<!-- Integration with MYBATIS 								-->
	<!-- ====================================================== -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" 
		factory-bean="application" 
		factory-method="getSqlSessionFactory">
		<constructor-arg index="0" value="sqlSessionFactory"/>
	</bean>
	<!--	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations">
			<array>
				<value>classpath*:net/oopscraft/application/**/*Mapper.xml</value>
			</array>
		</property>
		<property name="configuration">
			<bean class="org.apache.ibatis.session.Configuration">
				<property name="cacheEnabled" value="false"/>
				<property name="callSettersOnNulls" value="true"/>
				<property name="mapUnderscoreToCamelCase" value="true"/>
			</bean>
		</property>
    </bean>
     -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="net.oopscraft.application.**.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="nameGenerator" ref="beanNameGenerator"/>
	</bean>
	<bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

	<!-- ====================================================== -->
	<!-- Scans Components 										-->
	<!-- ====================================================== -->
	<context:component-scan base-package="net.oopscraft.application" name-generator="net.oopscraft.application.core.spring.FullBeanNameGenerator"/>

	<!-- ====================================================== -->
	<!-- Message Source											-->
	<!-- ====================================================== -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource" 
		factory-bean="application" 
		factory-method="getMessageSource">
		<constructor-arg index="0" value="messageSource"/>
	</bean>
	<!-- 
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/conf/i18n/message"/>
		<property name="defaultEncoding" value="UTF-8"/>	         
		<property name="cacheSeconds" value="3"/>
	</bean>
	-->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>
	<mvc:interceptors>
		<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
    </mvc:interceptors>
    
	<!-- ====================================================== -->
	<!-- Default Servlet Handler								-->
	<!-- ====================================================== -->
    <mvc:default-servlet-handler default-servlet-name="default"/>
    <mvc:annotation-driven/>
    
	<!-- ====================================================== -->
	<!-- View Resolver											-->
	<!-- ====================================================== -->
	<bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<property name="order" value="0"/>
	</bean>
   	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
				<value>/WEB-INF/conf/tiles.xml</value>
            </list>
        </property>
   	</bean>
	<bean id="jstlViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/view/"/>
	    <property name="order" value="1"/>
	</bean>
	
	<!-- ====================================================== -->
	<!-- WebSocketHandler										-->
	<!-- ====================================================== -->
	<websocket:handlers>
		<websocket:mapping path="admin/admin.ws" handler="adminWebSocketHandler"/>
	</websocket:handlers>
	<beans:bean id="adminWebSocketHandler" class="net.oopscraft.application.admin.AdminWebSocketHandler"/>

	<!-- ====================================================== -->
	<!-- Spring Security										-->
	<!-- ====================================================== -->
	<security:authentication-manager>
		<security:authentication-provider ref="net.oopscraft.application.user.security.AuthenticationProvider"/>
	</security:authentication-manager>
	<security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />
	<security:http pattern="/admin/login" security="none" />
	<security:http pattern="/admin/**/*" disable-url-rewriting="true" use-expressions="true">
		<security:csrf disabled="true" />
		<security:intercept-url pattern="/admin/**/*" access="isAuthenticated()" />
		<security:form-login 
			login-page="/admin/login" 
			login-processing-url="/admin/login/processing" 
			username-parameter="id" 
			password-parameter="password" 
			authentication-success-handler-ref="net.oopscraft.application.user.security.AuthenticationHandler"
			authentication-failure-handler-ref="net.oopscraft.application.user.security.AuthenticationHandler"
			/>
		<security:logout invalidate-session="true" logout-url="/admin/logout" logout-success-url="/admin" />
	</security:http>

</beans>
