/* anonymous-pro-regular - latin */
@font-face {
  font-family: 'code';
  font-style: normal;
  font-weight: 400;
  src: url('/static/font/src/anonymous-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
       url('/static/font/src/anonymous-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/font/src/anonymous-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/font/src/anonymous-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/font/src/anonymous-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/font/src/anonymous-pro-v11-latin-regular.svg#AnonymousPro') format('svg'); /* Legacy iOS */
}
