/* noto-sans-kr-regular - korean_latin */
@font-face {
  font-family: 'font-kr';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/src/noto-sans-kr-v8-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('/static/font/src/noto-sans-kr-v8-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/font/src/noto-sans-kr-v8-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/font/src/noto-sans-kr-v8-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/font/src/noto-sans-kr-v8-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/font/src/noto-sans-kr-v8-korean_latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}