/* sawarabi-mincho-regular - latin_japanese */
@font-face {
  font-family: 'font-ja';
  font-style: normal;
  font-weight: 400;
  src: url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.eot'); /* IE9 Compat Modes */
  src: local('Sawarabi Mincho'), local('SawarabiMincho-Regular'),
       url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.woff') format('woff'), /* Modern Browsers */
       url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/static/font/src/sawarabi-mincho-v6-latin_japanese-regular.svg#SawarabiMincho') format('svg'); /* Legacy iOS */
}